@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-orange-50 dark:bg-stone-900 text-orange-600 dark:text-orange-50;
  }

  h1 {
    @apply text-4xl text-center font-bold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  select {
    @apply bg-orange-50 dark:bg-stone-900;
  }

  .filled {
    @apply inline-block text-center text-xl bg-orange-600 dark:bg-orange-50 text-orange-50 dark:text-stone-900 rounded-full p-3;
  }

  .outlined {
    @apply inline-block text-center text-xl rounded-full p-3 text-orange-600 dark:text-orange-50 bg-orange-50 dark:bg-stone-900 border-4 border-orange-600 dark:border-orange-50;
  }
}

/* Progress bar */
#nprogress .bar {
  background: #ea580c;
  height: 4px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #ea580c, 0 0 5px #ea580c;
}

#nprogress .spinner-icon {
  border-top-color: #ea580c;
  border-left-color: #ea580c;
}

@media (prefers-color-scheme: dark) {
  #nprogress .bar {
    background: #fff7ed;
  }

  #nprogress .peg {
    box-shadow: 0 0 10px #fff7ed, 0 0 5px #fff7ed;
  }

  #nprogress .spinner-icon {
    border-top-color: #fff7ed;
    border-left-color: #fff7ed;
  }
}
